<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit-1.7.xsd">


    <!-- 定义amqp连接池工厂 -->
    <rabbit:connection-factory id="connectionFactory" host="localhost" port="5672"
                               username="test" password="test123" />

    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory"
                     exchange="myExchange" />

    <rabbit:admin connection-factory="connectionFactory" />

    <rabbit:queue name="myQueue" />

    <rabbit:direct-exchange name="myExchange">
        <rabbit:bindings>
            <rabbit:binding queue="myQueue" key="test" />
        </rabbit:bindings>
    </rabbit:direct-exchange>


    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto">
        <rabbit:listener ref="foo"  queue-names="myQueue" />
    </rabbit:listener-container>

    <bean id="foo" class="com.zixue.www.web.Foo" />
</beans>